body {
  margin: 0;
}

img {
  max-width: 100%;
}
.wrapper  {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  'h h'
  'n c';
  /*grid-gap: 10px;*/
}

.header {
  grid-area: h;
  background-color: green;
}

.header__image {
  max-width: 100%;
  width: 90px;
  margin-left: 30px;
}

.navigation {
  grid-area: n;
  background-color: saddlebrown;
  padding-top: 20px;
}

.navigation a {
  display: block;
  margin-bottom: 10px;
  padding-left: 20px;
}

.navigation a:last-child {
  margin-top: 40px;
}

.main {
  grid-area: c;
  background-color: red;
}